<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>

      <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</head>
<body>
            
              {{ range . }}
              <div class="container bsa">
                <div class="row">
                  <div class="col s12 m7">
                    <h2 class="header">{{ .Title }}</h2>  
                    <div class="card-action">
                       <a href="/editartikel?id={{ .ID }}">Edit</a>   |   <a href="/Deleteartikel?id={{ .ID }}">Delete</a>
                    </div>
                    <div class="card horizontal">
                      <div class="card-image">
                        <!-- <img src="https://lorempixel.com/100/190/nature/6"> -->
                      </div>
                      <div class="card-stacked">
                        <div class="card-content">
                          <p>{{ .Isi }} </p>
                        </div>

                      </div>
                    
                    </div>
                  
                  </div>
                </div>
              </div>
              {{ end }}

    


    
</body>
</html>