{{ define "listadmin" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> daftar pengguna </h2>
    <table border="1">
      <thead>
      <tr>
        <td>ID</td>
        <td>Username</td>
        <td>FirstName</td>
        <td>LastName</td>
        <td>Status</td>
        <td>View</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        <td>{{ .ID }}</td>
        <td> {{ .Username }} </td>
        <td>{{ .FirstName }} </td> 
        <td>{{ .LastName }} </td>
        <td>{{ .Status }} </td>  
        <td><a href="/show?id={{ .Id }}">View</a></td>
        <td><a href="/edit?id={{ .Id }}">Edit</a></td>
        <td><a href="/delete?id={{ .Id }}">Delete</a><td>
      </tr>
    {{ end }}
       </tbody>
    </table>
  {{ template "Footer" }}
{{ end }}